# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
Packages/
packages/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
